@Scripts.Render("~/Scripts/Map.js")
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAqq1HtC8DDI_GLpMELVM0s0Lczfw5n4&callback=initMap"></script>
<h1>About Us</h1>
<br /> 
Our names are Ofri, Roni, Shay and Gal.
We go to The College of Management in Rishon Lezion. 
This blog is very cool please give us each a 100 on the project!
<br /> 

<div id="map_canvas" style="position:fixed;width:500px;height:300px"></div>